<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Print Screen FString Unreal</Title>
		</Header>
		<Snippet>
			<Code Language="CPP">
				<![CDATA[ if(GEngine) GEngine->AddOnScreenDebugMessage(-1, 15.0f, FColor::Yellow, TEXT("Some debug message!"));]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>